$background-color: #2b2b2b;
$color: #ff207d;
@font-face {
    font-family: "BizinGothicDiscord";
    src: url("../assets/fonts/BizinGothicDiscord-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MoonFlower";
    src: url("../assets/fonts/Moon-Flower.ttf") format("truetype");
}
body {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .bg__panel {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #f890b3 0%, #9bcee8 100%);
        z-index: -100;
        .bg__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(5px);
        }
    }
    main {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        .tabs {
            display: flex;
            justify-content: center;
            flex-direction: column;
            button {
                width: 4rem;
                height: 4rem;
                margin: 1rem;
                padding: 0.5rem;
                border: none;
                border-radius: 50%;
                background: #3b577b;
                box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                &:hover {
                    filter: brightness(1.2);
                    cursor: pointer;
                    border: 2px solid white;
                }
                &:active {
                    filter: brightness(0.8);
                    transform: scale(0.96);
                }
                .tab__icon {
                    font-size: 2rem;
                    line-height: 0.5;
                }
                .tab__text {
                    font-family: "BizinGothicDiscord";
                    font-size: 14px;
                    user-select: none;
                    white-space: nowrap;
                    background-size: calc(overflow * 0.5) 100%;
                    background-image: linear-gradient(transparent 0%, #0001 50%);
                }
            }
            @media screen and (max-width: 1200px) {
                flex-direction: row;
                position: absolute;
                top: calc(100vh - 6rem);
                left: 0;
                right: 0;
                z-index: 2;
                button {
                    margin: 4px;
                }
            }
        }
        .main__panel {
            position: relative;
            width: 96%;
            max-width: 1200px;
            height: 90vh;
            border-radius: 2rem;
            background: linear-gradient(#243d5b, #3b577b);
            box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
            .bg__equalizer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background-image: url("../assets/img/bg-equalizer.png");
                background-size: cover;
                background-position: bottom;
                border-radius: 2rem 2rem 0 0;
                mask-image: linear-gradient(to top, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 0) 95%);
                -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 0) 95%);
                .equalizer {
                    width: 100%;
                    height: 100%;
                }
            }
            .main__contents {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                h1 {
                    font-family: "MoonFlower";
                    font-size: 3rem;
                    margin: 2rem;
                    user-select: none;
                }
            }
        }
        .servers {
            display: flex;
            justify-content: center;
            flex-direction: column;
            button {
                width: 4rem;
                height: 4rem;
                margin: 1rem;
                padding: 0.5rem;
                border: none;
                border-radius: 50%;
                background: #3b577b;
                box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                &:hover {
                    filter: brightness(1.2);
                    cursor: pointer;
                    border: 2px solid white;
                }
                &:active {
                    filter: brightness(0.8);
                    transform: scale(0.96);
                }
                .tab__icon {
                    width: 100%;
                    height: 100%;
                }
            }
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
    }
}
