$background-color: #2b2b2b;
$color: #ff207d;
@font-face {
    font-family: "BizinGothicDiscord";
    src: url("../assets/fonts/BizinGothicDiscord-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MoonFlower";
    src: url("../assets/fonts/Moon-Flower.ttf") format("truetype");
}
body {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .bg__panel {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #f890b3 0%, #9bcee8 100%);
        z-index: -100;
        .bg__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(5px);
        }
    }
    main {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        .tabs {
            display: flex;
            justify-content: center;
            flex-direction: column;
            button {
                width: 4rem;
                height: 4rem;
                margin: 1rem;
                padding: 0.5rem;
                border: none;
                border-radius: 50%;
                background: #3b577b;
                box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                &:hover {
                    filter: brightness(1.2);
                    cursor: pointer;
                    border: 2px solid white;
                }
                &:active {
                    filter: brightness(0.8);
                    transform: scale(0.96);
                }
                .tab__icon {
                    font-size: 2rem;
                    line-height: 0.5;
                }
                .tab__text {
                    font-family: "BizinGothicDiscord";
                    font-size: 14px;
                    user-select: none;
                    white-space: nowrap;
                    background-size: calc(overflow * 0.5) 100%;
                    background-image: linear-gradient(transparent 0%, #0001 50%);
                }
            }
            @media screen and (max-width: 1200px) {
                flex-direction: row;
                position: absolute;
                top: calc(100vh - 6rem);
                left: 0;
                right: 0;
                z-index: 2;
                button {
                    margin: 4px;
                }
            }
        }
        .main__panel {
            position: relative;
            width: 96%;
            max-width: 1200px;
            height: 90vh;
            border-radius: 2rem;
            background: linear-gradient(#243d5b, #3b577b);
            box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
            .bg__equalizer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background-image: url("../assets/img/bg-equalizer.png");
                background-size: cover;
                background-position: bottom;
                border-radius: 2rem 2rem 0 0;
                mask-image: linear-gradient(to top, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 0) 95%);
                -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 255) 0%, rgba(0, 0, 0, 0) 95%);
                .equalizer {
                    width: 100%;
                    height: 100%;
                }
            }
            .main__contents {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                h1 {
                    font-family: "MoonFlower";
                    font-size: 3rem;
                    margin: 2rem;
                    user-select: none;
                }
                .player__disk {
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    width: 8rem;
                    height: 8rem;
                    margin: -4rem;
                    border: 6px solid #badcff;
                    border-radius: 50%;
                    background: #3b577b;
                    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                    animation: rotate 10s linear infinite;
                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                    .disk__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        user-select: none;
                        -webkit-user-drag: none;
                    }
                }
                .player__info {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 7.5rem;
                    padding: 1rem;
                    .info__title {
                        font-family: "BizinGothicDiscord";
                        font-size: 1.5rem;
                    }
                    .info__artist {
                        font-family: "BizinGothicDiscord";
                        font-size: 1.25rem;
                    }
                }
                .player__control {
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .seekbar__panel {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        .seekbar__label {
                            font-family: "BizinGothicDiscord";
                            text-align: center;
                            color: white;
                        }
                        .seekbar__progress {
                            position: relative;
                            display: flex;
                            width: 50%;
                            height: 0.5rem;
                            max-width: 400px;
                            background: #1c2b3a;
                            border-radius: 0.5rem;
                            margin-block: 1rem;
                            pointer-events: none;
                            .seekbar__bar {
                                width: 0;
                                height: 100%;
                                background: linear-gradient(to right, #ff4b8b, #ffcc70);
                                border-radius: 0.5rem;
                                animation: progress 10s linear infinite;
                            }
                            .thumb {
                                width: 1rem;
                                height: 1rem;
                                background: white;
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translate(-50%, -50%);
                                box-shadow: 0 2px 5px rgba (255, 255, 255, 0.5);
                                pointer-events: none;
                                animation: thumb 10s linear infinite;
                            }
                            @keyframes progress {
                                0% {
                                    width: 0;
                                }
                                100% {
                                    width: 100%;
                                }
                            }
                            @keyframes thumb {
                                0% {
                                    left: 0;
                                }
                                100% {
                                    left: 100%;
                                }
                            }
                        }
                    }
                    .volume__panel {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .volume__progress {
                            width: 50%;
                            max-width: 200px;
                            background: #1c2b3a;
                            border-radius: 0.5rem;
                            margin: 0 1rem;
                        }
                    }
                    .buttons__panel {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button {
                            width: 3rem;
                            height: 3rem;
                            margin: 0.5rem;
                            padding: 0.5rem;
                            border: none;
                            border-radius: 50%;
                            background: linear-gradient(#ff4b8b, #ff758c);
                            box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 1.5rem;
                            &:hover {
                                filter: brightness(1.2);
                                cursor: pointer;
                                border: 2px solid white;
                            }
                            &:active {
                                filter: brightness(0.8);
                                transform: scale(0.96);
                            }
                            @media screen and (max-width: 1200px) {
                                width: 2.5rem;
                                height: 2.5rem;
                                margin: 0.25rem;
                            }
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        bottom: 6rem;
                    }
                }
            }
        }
        .servers {
            display: flex;
            justify-content: center;
            flex-direction: column;
            button {
                width: 4rem;
                height: 4rem;
                margin: 1rem;
                padding: 0.5rem;
                border: none;
                border-radius: 50%;
                background: #3b577b;
                box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                &:hover {
                    filter: brightness(1.2);
                    cursor: pointer;
                    border: 2px solid white;
                }
                &:active {
                    filter: brightness(0.8);
                    transform: scale(0.96);
                }
                .tab__icon {
                    width: 100%;
                    height: 100%;
                }
            }
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
    }
}
