a.link__invite {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
  padding: 0.5rem;
  text-align: center;
  background-color: #ff207d;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s;
}
a.link__invite:hover {
  background-color: #ec0062;
}

.place__holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.place__holder .panel__command {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}